:80, # for testing only - make sure to disable in prod
:443
{

#   tls self_signed # for local testing - make sure to disable in prod

  root /frontend

  proxy /api backend:4000 {
    websocket
    transparent
  }
  
  proxy /pub backend:4000 {
    transparent
  }

  proxy /oauth backend:4000 {
    transparent
  }
  
  proxy /.well-known backend:4000 {
    transparent
  }

  gzip
  errors

  rewrite / {
    to {path} {path}/ /
    if {path} not_starts_with /pub
    if {path} not_starts_with /api
    if {path} not_starts_with /oauth
    if {path} not_starts_with /.well-known
  }

}
